<h1>Listing contacts</h1>

<div class="row-fluid">
  <% @contacts.each do |contact| %>
    <div class="contact-card span4">
      <h2><%= contact.first_name %> <%= contact.last_name %></h2>
      <div><a href="mailto:<%= contact.email %>"><%= contact.email %></a></div>
      <div><%= contact.mobile %></div>
      <div><%= contact.landline %></div>
      <div><%= contact.twitter %></div>
      <div><img src="<%= contact.photo %>" alt="Picture of <%=contact.first_name%>" class="contact-card-photo"/></div>
      <div><%= link_to 'Show', contact %> |
      <%= link_to 'Edit', edit_contact_path(contact) %> |
      <%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  <% end %>
</div>

<%= link_to 'New Contact', new_contact_path %>
