<!DOCTYPE html>
<html>
<head>
  <title>Contact List</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--
I'm using the most basic bootstrap layout here. It needs a lot of tidying up and design work before
it would be suitable for a real customer's app. ~ Tim
-->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">Contact List by Tim Abell</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><%= link_to 'Contacts', root_path %></li>
            <li><%= link_to 'New Contact', new_contact_path %></li>
            <li><a href="mailto:tim@timwise.co.uk?subject=Great%20app%20when%20can%20you%20start%3F">@email Tim</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">

<%= yield %>

  </div> <!-- /container -->

</body>
</html>
